.round-corner-5 {
	-moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    border-radius:          5px; 
    -khtml-border-radius:   5px;
    padding-left:           3px;
    padding-right:          3px;
}

.round-corner-10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
    padding-left:6px;
    padding-right:6px;
}

.clearboth { clear:both }

.padding-S { padding: 3px; }
.padding-M { padding: 6px; }
.padding-L { padding: 9px; }

.margin-S { margin: 3px; }
.margin-M { margin: 6px; }
.margin-L { margin: 9px; }

#comunication-box {
	margin-left:auto;
	margin-right:auto;
}

.activitystream .activity {
	margin-top: 5px;
	margin-bottom: 5px;
}

.activitystream .activity .big-left-image {
	float:         left;
	width:         100px;
	height:        100px;
	margin:        0px 5px 5px 0px;
	text-align:    center;
}

.activitystream .activity .activity-title {
	font-size:     120%;
	margin-bottom: 10px;
}

.activitystream .activity .activity-body-title {
    font-size:     110%;
    margin-bottom: 10px;
}

.activitystream .activity .activity-body-body {
    font-size:     90%;
    color:         #111;
}

.activitystream .activity .activity-body-discreet {
	font-size:     70%;
	color:         #aaa;
}


.activitystream .activity .comment .comment-image {
    margin-right: 10px;
}

.activitystream .activity .comment .comment-title {
    font-size:      120%;
    margin-bottom:  5px;
}

.activitystream .activity .comment .comment-text {
    font-size:      100%;
    margin-bottom:  5px;
}

.activitystream .activity .comment .comment-date {
    font-size:      70%;
    color:          #aaa;
    margin-bottom:  5px;
}



.page-title {
	font-size: 200%;
}