.round-corner-5 {
	-moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    border-radius:          5px; 
    -khtml-border-radius:   5px;
    padding-left:           3px;
    padding-right:          3px;
}

.round-corner-10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
    padding-left:6px;
    padding-right:6px;
}

#comunication-box {
	margin-left:auto;
	margin-right:auto;
}

.activitystream .activity {
	margin-top: 5px;
	margin-bottom: 5px;
}

.activitystream .activity .big-left-image {
	float:         left;
	width:         100px;
	height:        100px;
	margin-right: 5px;
	text-align:    center;
}

.activitystream .activity .activity_title {
	font-size:     120%;
	margin-bottom: 10px;
}

.page-title {
	font-size: 200%;
}